@import "tailwindcss";

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
  
    overflow-x: hidden;
  }
}


@keyframes borderSpin {
  0% {
    stroke-dashoffset: 280;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.animate-glow-border {
  animation: borderSpin 1.5s linear infinite;
}